* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
:root {
    --primary-color: #0f1b4c;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins";
}
/* =========================common(thành phần chung)======================== */
.btn {
    display: inline-block;
    /* gưới hạn để viết chữ */
    min-width: 98px;
    background: var(--primary-color);
    padding: 18px 15px;
    border-radius: 12px;
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
    color: #ffffff;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.btn:hover {
    opacity: 0.9;
}
a {
    text-decoration: none;
}
.content {
    width: 1110px;
    /* chọn max-width để nó vừa khớp với màn hình  */
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

/* ========================Header============================ */
.header {
    position: relative;
    height: 100vh;
    background: #e6f0ff;
}

.navbar {
    display: flex;
    align-items: center;
    padding-top: 38px;
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar .action {
    margin-left: auto;
}

.navbar ul a {
    font-weight: 500;
    font-size: 1.4rem;
    color: #4f5361;
    padding: 8px 14px;
}

.navbar ul a:hover {
    text-decoration: underline;
    font-size: 1.6rem;
}

.navbar .action-link {
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--primary-color);
}

.navbar .action-btn {
    border-radius: 8px;
    padding: 13px 16px;
    margin-left: 18px;
}
/* ==========================================Hero========================== */
.hero {
    margin-top: 130px;
}

.hero .info {
    /* chia tỉ lệ lấy 559px / 1110px ( của width content) */
    width: 51%;
}

.hero .sup-title {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #687690;
}

.hero .title {
    margin-top: 8px;
    font-weight: 700;
    font-size: 6.2rem;
    line-height: 119%;
    color: #000336;
}

.hero .desc {
    margin-top: 30px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 178%;
    color: #5a6473;
}

.hero-cta {
    min-width: 170px;
    margin-top: 40px;
}
.hero-img {
    position: absolute;
    right: calc((100vw - 1110px) / 2 - 100px);
    bottom: 0;
}
/* ======================clients=========================== */
.cilents {
    padding: 43px 0 64px;
    margin-top: 79px;
}
.cilents .row {
    display: flex;
    justify-content: space-between;
}
.cilents .desc {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 125%;
    color: #7d8589;
}
.cilents .row-desc {
    margin-top: 23px;
}
.cilents .images {
    display: flex;
    /* cho nó nằm giữa cái trục ngang */
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
}
.cilents .images a {
    display: flex;
    align-items: center;
    height: 90px;
    padding: 0 42px;

    border-radius: 12px;
}
.cilents .images a:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}
/* =================================Guides==================== */
.guides {
    padding: 93px 0 79px;
    margin-top: 40px;
}

.guides .sup-title {
    position: relative;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    text-align: center;
    color: #000339;
}
.guides .sup-title::before {
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    content: "";
    display: inline-block;
    width: 41px;
    height: 4px;
    background: #000339;
    border-radius: 12px;
}
.guides .desc {
    width: 459px;
    max-width: 100%;
    margin: 20px auto 0;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 188%;
    text-align: center;
    color: #5a6473;
}
/* ============================List guides================ */
.list-guide {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.guides-item {
    text-align: center;
    margin: 0 70px;
}

.guides-item .title {
    margin-top: 26px;
    font-weight: 500;
    font-size: 2rem;
    line-height: 110%;
    color: #3b3c45;
}
.guides-item .link {
    /* thẻ a là thẻ inline nên ta phải dùng display: inline-block để sd đc margin top */
    display: inline-block;
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.4rem;
    color: #0689ff;
}
.guides-item .arrow {
    margin-left: 4px;
}
.guide-cta {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.guide-cta .btn {
    min-width: 170px;
}
/* ====================================Featured================================= */
.featured {
    margin-top: 41px;
    padding: 110px 0;
    background: #f5fafe;
}
.featured .sup-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    color: #000339;
}
.featured .row {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.featured .desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #5a6473;
}
.featured .link {
    display: flex;
    align-items: center;
    ont-weight: 600;
    font-size: 1.8rem;
    color: #0689ff;
}
.featured .link .arrow {
    margin-left: 8px;
}

/* =========================Featured-List============== */
.featured .list {
    gap: 30px;
    display: flex;
    margin-top: 70px;
}

.featured .item {
    border-radius: 12px;
    flex: 1;
    background: #fff;
}
.featured .item .thumb {
    height: 227px;
    width: 100%;
    /* giữ đúng tỉ lệ và lấp đầy khoảng trống của ảnh */
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.featured .item .body {
    padding: 17px 20px 24px;
}
.featured .item .titile a {
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.5;
    color: #000339;
}
.featured .item .desc {
    word-break: break-all;
    margin-top: 11px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #a3a6ab;
}
.featured .item .info {
    display: flex;
    align-items: center;
    margin-top: 21px;
}
.featured .item .label {
    margin-left: 8px;
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 0.01em;
    color: #4d4d52;
}
.featured .item .icon:first-child {
    margin-left: 0;
}

.featured .item .icon {
    margin-left: 23px;
}

/* ----Stats---- */

.stats {
    margin-top: 75px;
    padding: 50px 0;
}
.stats .content {
    width: 1048px;
}
.stats .row {
    display: flex;
}

.stats .img-block,
.stats .info {
    width: 50%;
}

.stats .img-block {
    position: relative;
}
.stats .img-block .image {
    display: block;
    margin-left: auto;
    border-radius: 12px;
    width: 400px;
    height: 460px;
    object-fit: cover;
}

.stats .info {
    padding: 79px 0 0 165px;
}
/* ---------------Stats-trend */
.stats .stats-trend {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 239px;
    padding: 45px 22px 40px;
    border-radius: 0px 0px 12px 12px;
}

.stats-trend .value {
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 1;
    letter-spacing: 0.01em;
    color: #000339;
}

.stats-trend .icon {
    margin-left: auto;
}

.stats .separate {
    margin-top: 25px;
    height: 1px;
    background-color: #e9e9e9;
}

.stats .avatar-block {
    margin-top: 26px;
    display: flex;
    gap: 16px 14px;
    flex-wrap: wrap;
}
.stats .avatar-group {
    display: flex;
}

.stats .avatar {
    margin-left: -3px;
    width: 16px;
    height: 16px;
    object-fit: cover;
    border-radius: 50%;
}
.stats .avatar:first-child {
    margin-left: 0;
}

.stats .avatar-one {
    background: #f8c120;
    font-weight: 450;
    line-height: 16px;
    text-align: center;
    font-size: 0.7rem;
    letter-spacing: -0.02em;
    color: #ffffff;
}
.stats-trend .desc {
    margin-top: 8px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #a7a7a7;
}
/* -------------------------- */
.stats .sup-title {
    position: relative;
    font-weight: 600;
    width: 269px;
    font-size: 3.5rem;
    line-height: 1.29;
    color: #000339;
}
.stats .sup-title::before {
    position: absolute;
    left: 0;
    top: -10px;
    content: "";
    display: block;
    width: 41px;
    height: 4px;
    background: #000339;
    border-radius: 12px;
}

.stats .info .desc {
    width: 309px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #5a6473;
}

.stats .row-qty {
    padding: 0 32px;
    justify-content: space-between;
    margin-top: 110px;
}

.stats .qty-item .qty {
    font-weight: 600;
    font-size: 6.4rem;
    color: #000000;
}

.stats .qty-item .qty-desc {
    margin-top: 24px;
    font-weight: 500;
    font-size: 1.8rem;
    color: #7b8087;
}
/*  Subscription */
.subscription {
    margin-top: 90px;
}

.subscription .body {
    position: relative;
    height: 370px;
    display: flex;
    align-items: center;
    background: #063183;
    border-radius: 20px;
}

.subscription .info {
    padding: 0 80px;
    width: 671px;
    max-width: 100;
}

.subscription .info .sub-title {
    font-weight: 600;
    font-size: 3rem;
    line-height: 1;
    color: #ffffff;
}

.subscription .info .desc {
    margin-top: 15px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #ffffff;
    opacity: 0.75;
}
.subscription .btn {
    margin-top: 20px;
    min-width: 151px;
    font-weight: 500;
    font-size: 1.3rem;
    text-align: center;
    color: #002366;
    background: #fff;
}
.subscription .image {
    position: absolute;
    bottom: 0;
    right: 221px;
}

/* Fotter */
.fotter {
    display: block;
    margin-top: 55px;
    padding: 50px 0 58px;
}
.fotter .row {
    display: flex;
}

.fotter .row-top {
    gap: 185px;
}
.fotter .heading {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #1c1c1d;
}

.fotter .list,
.fotter .desc {
    margin-top: 42px;
}

.fotter .item {
    margin-top: 18px;
}

.fotter .item a,
.fotter .desc {
    font-weight: 400;
    font-size: 1.6rem;
    color: #7a7a7e;
    white-space: nowrap;
}

.fotter .desc {
    white-space: normal;
    line-height: 1.75;
}

.fotter .social {
    display: flex;
    margin-top: 40px;
    gap: 16px;
}

.fotter .social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    background: #f9f9f9;
}
.fotter .social-link:hover {
    background: #ebebeb;
}

.fotter .row-bottom {
    margin-top: 81px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fotter .copyright {
    font-weight: 400;
    font-size: 1.4rem;
    color: #c2c2c2;
}
